people.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="people">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="person" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="firstname"/>
              <xs:element type="xs:string" name="lastname"/>
              <xs:element type="xs:dateTime" name="birthdate"/>
              <xs:element name="healthprofile">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:dateTime" name="lastupdate"/>
                    <xs:element type="xs:string" name="weight"/>
                    <xs:element type="xs:string" name="height"/>
                    <xs:element type="xs:string" name="bmi"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>